<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-51599382-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-51599382-5');
    </script>

    <meta http-eqiv="content-type" content="text/html;charset=utf-8">
    <title>サンプルで学ぶ Go 言語：ページが見つかりませんでした</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">サンプルで学ぶ Go 言語</a></h2>
      <p>ページが見つかりませんでした。<a href="./">ホームページ</a>を見てみてください。</p>
      <p class="footer">
        翻訳者：<a href="https://twitter.com/spinute">@spinute</a> | <a href="mailto:spinute.pages@gmail.com">フィードバック</a> | <a href="https://github.com/spinute/go-by-example">ソースコード</a> | <a href="https://github.com/spinute/go-by-example#license">ライセンス</a>
      </p>
    </div>
  </body>
</html>
